.App{
  height: auto;
  width: fit-content;
  position: relative; 
  margin: auto;
  margin-top: 5rem;
}

.human-svg {
  height: 500px;
  width: fit-content;
  margin: auto;
}

.marker-container {
  position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker {
  pointer-events: none;
  height: 10px;
  width: 10px;
  display: block;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.655);
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  padding: 10px;
}

.tooltip-title {
  color: white;
  text-align: left;
}

.tooltip-description {
  color: #dcdcdc;
}

.marker-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

